---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.custom-features {
  display: flex;
  justify-content: space-around;
}

.custom-feature {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  a:hover {
    color: #59d4cc;
  }

  &:hover {
    border-color: #59d4cc; // Light salad green
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
}
.archive {
  padding-right: 20px;
}
  
  .archive__item-icon {
    width: 24px !important;
    height: 24px !important;
    margin-bottom: 10px;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // figure {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 1em;
  // }
  
  // figure img {
  //   object-fit: cover;
  //   width: 100%;
  //   height: 200px; // Adjust this value as needed
  // }
  
  // figure.half img {
  //   max-width: calc(50% - 0.5em);
  // }
  
  // figure.third img {
  //   max-width: calc(33.3333% - 0.5em);
  // }
  .figure-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  
  .image-hover-effect {
    position: relative;
    flex: 1 1 calc(33.333% - 20px); // Adjust the percentage if you want more or fewer images per row
    margin: 0 10px 20px;
    min-width: 250px;
    max-width: calc(33.333% - 20px); // Ensure images don't grow too large
    overflow: hidden;
    aspect-ratio: 16 / 10; // Changed from 16 / 9 to make images slightly taller
    height: 300px;// Set a fixed aspect ratio for all images
    
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
    
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7);
      transition: all 0.3s ease;
      
      p {
        color: #59d4cc;
        text-align: center;
        padding: 1em;
        transform: translateY(20px);
        transition: all 0.3s ease;
      }
    }
    
    &:hover {
      img {
        filter: brightness(50%);
      }
      
      figcaption {
        opacity: 1;
        
        p {
          transform: translateY(0);
        }
      }
    }
    cursor: pointer;
  }
  // Add a new class for the two-image row
.figure-row-two {
  .image-hover-effect {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    height: 400px; 
  }
}

