---
search: false
---

$masthead-link-color: white;
$masthead-link-color-hover: white;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


body, p, .label, figcaption, .social-icons a, .page__footer-copyright {
  font-family: "Lato", system-ui !important;
}

h1, h2, h3, h4, h5, h6, .site-title {
  font-family: "Comfortaa", sans-serif !important;
}

.author__avatar-img {
  position: absolute;
  top: 8rem;
  right: 1rem;
  width: 100%;
  max-width: 6rem;
  border: 1px solid gray;
}

.site-title {
  font-size: 30px;
}
.site-subtitle {
  font-size: 14px;
}

@media (min-width: 576px) { 
  .author__avatar-img {
    max-width: 12rem;
    top: 7.7rem;
  }

  .site-title {
    font-size: 34px;
  
    .site-subtitle {
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) { 
  .author__avatar-img {
    top: 11rem;
  }

  .site-title {
    font-size: 44px;
  
    .site-subtitle {
      font-size: 26px;
    }
  }
}


@media (min-width: 1200px) { 
  .author__avatar-img {
    top: 8rem;
  }
}

.custom-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 0 10px; // Add some padding on the sides
}

.custom-features-first {
  justify-content: center;
}

.custom-feature {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin: 0 !important; // Center the feature within its grid cell
  transition: border-color 0.3s ease;
  cursor: pointer;

  a {
    color: rgb(105, 187, 255);
  }

  a:hover {
    // color: #59d4cc;
    color: rgb(155, 207, 255);
  }

  &:hover {
    // border-color: #59d4cc; // Light salad green
    border-color: rgb(105, 187, 255);
  }
}
.archive {
  padding-right: 20px;
}
  
  .archive__item-icon {
    // width: 24px !important;
    // height: 24px !important;
    
    margin-bottom: 10px;
  
    img {
      // width: 100%;
      // height: 100%;
      height: 27px;
      object-fit: cover;
    }
  }

  .figure-row,
  .figure-row-two,
  .testimonials-gallery-row {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
  }
  
  .image-hover-effect {
    position: relative;
    overflow: hidden;
    
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
    
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7);
      transition: all 0.3s ease;
      
      p {
        color: white;
        text-align: center;
        padding: 1em;
        transform: translateY(20px);
        transition: all 0.3s ease;
      }
    }
    
    &:hover {
      img {
        filter: brightness(50%);
      }
      
      figcaption {
        opacity: 1;
        
        p {
          transform: translateY(0);
        }
      }
    }
    cursor: pointer;
  }
  // Add a new class for the two-image row
.figure-row-two {
  .image-hover-effect {
    flex: 1 1 100%;
    max-width: 100%;
    height: 300px; 
  }
}

.testimonials-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
}

.testimonial {
  flex: 1;
  margin: 0 0 20px;
  padding: 20px 20px 20px 25px; // Increased left padding to accommodate the border
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  position: relative;
  overflow: hidden; 
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background-color: rgb(105, 187, 255);
    transition: width 0.3s ease;
  }
  
  &:hover {
    cursor: pointer;
    
    &::before {
      width: 4px;
    }
  }
}

.testimonials-gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
}

.gallery-column,
.testimonials-column {
  flex: 1 1 100%;
  padding-right: 0;
  margin-bottom: 20px;
}

.testimonials-column {
  display: flex;
  flex-direction: column;
}

.testimonial-row {
  display: flex;
  justify-content: space-between;
}

blockquote {
  border-left: 0.25em solid rgb(105, 187, 255);
}

.testimonial-item {
  flex: 0 0 48%; /* Adjust as needed, leaving some gap between items */
  /* Add other styling as needed */
  blockquote {
    // border-left: 5px solid #00adb5;
    border-left: 5px solid rgb(105, 187, 255);
    &:hover {
      // border-color: #59d4cc;
      cursor: pointer;
    }
  }
}
.figure-row-horizontal {
  width: 100%;
  margin-bottom: 1em;
}

.horizontal-image-container {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.horizontal-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media screen and (min-width: 48em) {
  .custom-features {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin: 0 !important;
  }

  .custom-feature {
    width: 100%;
    max-width: 300px;
  }

  .image-hover-effect {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .figure-row-two .image-hover-effect {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
    height: 300px;
  }

  .gallery-column {
    flex: 1 1 60%;
    padding-right: 20px;
  }

  .testimonials-column {
    flex: 1 1 40%;
  }

  .testimonial {
    flex: 1;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

@media screen and (min-width: 64em) {
  .custom-features {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 !important;
  }

  .custom-features-first {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    max-width: 800px;
  }

  .custom-feature {
    width: 100%;
    max-width: none;
  }

  .image-hover-effect {
    flex: 1 1 calc(25% - 15px);
    max-width: calc(25% - 15px);
  }

  .figure-row-two .image-hover-effect {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
    height: 400px;
  }

  .gallery-column {
    padding-right: 40px;
  }

}

// Remove hover effects from other images
.gallery-column img,
.horizontal-image-container img,
.custom-feature img {
  transition: none;
  
  &:hover {
    filter: none;
  }
}

// Update this section at the end of the file
.author__urls-wrapper {
  .author__urls.social-icons {
    display: flex !important;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    position: relative !important;
    top: auto !important;
    right: auto !important;
    margin-top: 10px;
    padding: 0 !important;
    list-style-type: none;
    border: none !important;
    box-shadow: none !important;
    
    li {
      padding: 5px 10px;
      font-size: 0.9em;
    }
  }

  button {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .author__urls-wrapper {
    .author__urls.social-icons {
      li {
        padding: 5px 0;
      }
    }
  }
}

.archive__item-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.archive__item-icon {
  flex: 0 0 auto;
  margin-right: 20px;
  margin-top: 30px;
  img {
    width: auto;
    height: 1.2em;
  }
}

.archive__item-title {
  flex: 1;
  font-size: 1.2em;
  line-height: 1.2;
  margin: 0;
}

.archive__item-excerpt {
  margin-top: 10px;
}

.image-popup {
  img { 
    transition: border-color 0.3s ease;
    border: 1px solid rgb(0.4, 0.4, 0.4);
    box-shadow: none !important;
    &:hover {
      border-color: rgb(105, 187, 255);
    }
  }
}
